@charset "UTF-8";

/* Mobile Version  */
html {
  font-size: 30px;
}

body {
  font-family: Montserrat;
  padding: 4rem 3rem;
  position: relative;
  background: #ffffff;
  font-size: 100%;
  line-height: 1.15;
  color: #272f32;
  margin: 1px;
}

body h1 {
  width: 100%;
  text-align: center;
  margin-top: 0rem;
  margin-bottom: 0.2rem;
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0px;
  /*text-transform: uppercase;*/
  line-height: 1;
  margin-bottom: 0.7rem;
}

body h1 span {
  display: block;
  font-size: 1.6rem;
  letter-spacing: 0;
  font-weight: 400;
  transform: unset;
}

body h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

/* --------------------------------------------- IMAGES CONTAINER -- */
.images-container {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  top: 0;
  left: 0;
  transform: unset;
  width: 100%;
  height: 100%;
}

/* seethrough pictures */
.images-container .righthandimage,
.images-container .lefthandimage {
  display: none;
  visibility: hidden;
}

.images-container .lefthandimage {
  right: auto;
  left: -10rem;
  width: 40rem;
  top: 32rem;
  top: 17rem;
  transform: rotate(5deg);
}

/* --------------------------------------------- LINKS SECTION -- */
.links-container {
  display: flex;
  flex-direction: column;
  vertical-align: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.links-container a {
  display: inline-block;
  background: #fff;
  width: 100%;
  color: #fff;
  font-size: 1.5rem;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  transition: 0.2s;
  position: relative;
  z-index: 3;
  box-shadow: 2px 2px 15px #222;
}

.links-container a:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #323232;
  opacity: 0.6;
  transition: 0.2s;
}

.links-container a + a {
  margin-top: 0.5rem;
}

.links-container a span {
  display: inline-block;
}

.links-container a .co-icn,
.links-container a .co-text {
  padding: 0.75rem 1rem;
  position: relative;
  z-index: 3;
}

.links-container a .co-icn {
  background: #222;
  background: #023e88;
  color: #fff;
  min-width: 1.5rem;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}

.links-container a .co-icn i {
  font-size: 1.25rem;
  transition: 0.2s;
}

.links-container a .co-text {
  font-style: italic;
  font-weight: 400;
  transition: 0.2s;
}

.links-container a .co-text .co-text-tag {
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.25rem;
  transition: 0.2s;
}

.acclogo {
  max-width: 45%;
}

.canvaslogo {
  max-width: 30%;
}

/* -------------------------------------------------- Desktop Version */
@media (min-device-width: 768px) {
  html {
    font-size: 18px;
  }

  body {
    padding: 2rem 1rem;
  }

  body h1 span {
    display: block;
    font-size: 1.4rem;
    letter-spacing: 0;
    font-weight: 400;
    transform: translate(0rem, 0rem);
  }

  /* --------------------------------------------- IMAGES CONTAINER -- */
  .images-container {
    max-width: 1440px;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
  }

  /* seethrough pictures */
  .images-container .righthandimage,
  .images-container .lefthandimage {
    position: absolute;
    visibility: visible;
    display: block;
    right: 0rem;
    top: 25rem;
    width: 20rem;
    transform: rotate(20deg);
    filter: drop-shadow(12px 20px 17px rgba(0, 0, 0, 0.7));
    opacity: 0.2;
  }

  .images-container .lefthandimage {
    right: auto;
    left: -10rem;
    width: 40rem;
    top: 32rem;
    top: 17rem;
    transform: rotate(5deg);
  }

  /* --------------------------------------------- LINKS SECTION -- */
  .links-container {
    display: flex;
    flex-direction: column;
    vertical-align: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .links-container a {
    width: 25rem;
  }

  .links-container a .co-text {
    font-weight: 100;
  }

  .links-container a:hover {
    transform: scale(1.05);
    box-shadow: 2px 2px 25px #000;
  }

  .links-container a:hover:after {
    opacity: 0.8;
    background: #97a4b2;
    background: #e9ecef;
  }

  .links-container a:hover .co-icn {
    background: #005cd0;
  }

  .links-container a:hover .co-icn i {
    transform: scale(1.35);
  }

  .links-container a:hover .co-text {
    margin-left: 0.75rem;
    color: #0069b4;
  }

  .links-container a:hover .co-text .co-text-tag {
    margin-left: 0.5rem;
    color: #0069b4;
  }

  .links-container a.student-staff:hover {
    background-position: center;
    background-size: 130%;
  }
  .links-container a.parent-observer:hover {
    background-position: center;
    background-size: 130%;
  }
  .links-container a.achs:hover {
    background-position: center;
    background-size: 130%;
  }
  .links-container a.external:hover {
    background-position: center;
    background-size: 130%;
  }
  .links-container a.betatest:hover {
    background-position: center;
    background-size: 130%;
  }

  .acclogo {
    max-width: 200px;
  }

  .canvaslogo {
    max-width: 130px;
  }
}

.unselectable-image {
  user-select: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
